@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* claro */
  --bg-primary: #e5e5e5;
  --bg-secondary: #79716b;
  --bg-tertiary: #d6d3d1;
  --bg-skill: #ffffff;
  --bg-skill-hover: #e5e5e5;
  --bg-mobile: #d6d3d1;
  --bg-accent: #032e15;
  --bg-text: #d6d3d1;
  --text-primary: #006045;
  --text-secondary: #18181b;
  --text-mobile: #000000;
  --accent__one: #032e15;
  --button-bg: #d6d3d1;
  --button-bg-hover: #a1a1a1;
  --button-text: #ffffff;
  --border-color: #d6d3d1;
  --accent: #000000;
}

html.dark {
  /* escuro */
  --bg-primary: #020618;
  --bg-secondary: #065f46;
  --bg-tertiary: #000000;
  --bg-skill: #002c22;
  --bg-skill-hover: #064e3b;
  --bg-mobile: #002c22;
  --bg-accent: #032e15;
  --bg-text: #032e15;
  --text-primary: #ffffff;
  --text-secondary: #d1d5db;
  --text-mobile: #ffffff;
  --accent__one: #032e15;
  --button-bg: #002c22;
  --button-bg-hover: #065f46;
  --button-text: #ffffff;
  --border-color: #032e15;
  --accent: #ffffff;
}

@layer components {
  .nav__link {
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-emerald-600 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right;
    color: var(--text-primary);
  }

  .onsubmit {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-color: var(--accent);
    @apply flex-1 placeholder:text-gray-300 hover:bg-emerald-200/10 px-6 py-3 rounded-md border outline-none w-full;
  }

  .skill__card {
    background-color: var(--bg-skill);
    color: var(--text-secondary);
    @apply p-6 duration-300 grid grid-cols-2 transition-all items-center cursor-pointer text-center h-60 rounded-lg;
  }
  .checkbox {
    @apply w-7 h-7 flex flex-col items-center justify-center;
  }

  .checkbox_text {
    @apply text-sm sm:text-base md:text-lg font-bold;
  }

  .style_checkbox {
    @apply flex items-center space-x-2 mb-6;
  }

  .text-bg {
    background-image: linear-gradient(
      to right,
      var(--accent__one),
      var(--text-primary)
      
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .contact__link_icon {
    @apply w-14 h-14  rounded-full bg-gradient-to-r from-emerald-700 to-emerald-950 flex items-center justify-center flex-col;
  }

  .contact__link_text {
    @apply w-6 h-6 text-white;
  }
}
